.tudocarrosselEventSoli {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #d9d9d9;
    color: #EA9C00;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    margin-top: 100px;
}
.carrosselShFeEvTEXTOEventSoli{
    position: absolute;
    font-family: "Poppins", sans-serif;
    left: 11px;
    top: 150px;
    font-size: 30px;
    color: rgb(29, 28, 28);
}

.iconAnalise{
    position: absolute;
    width: 30px;
    height: min-content;
    cursor: pointer;
    margin-left:370px;
    top: 173px;
}

.carrosselEventSoli {
    display: inline-flex;
    flex-direction: column;
    gap: 30%;
}

.carrosselShFeEvTEXTOEventSoli {
    text-align: start;
    margin-left: 5%;
    font-weight: 750;
}

.carrossel-conteudoSoliciEventSoli {
    transition: transform 0.5s ease;
    display: inline-flex;
}

.espacoEventosEventSoli {
    margin-left: 5%;
    margin-right: 3%;
}

.carrossel-botao11 {
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 400px;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    background-color: #EA9C00;
    color: whitesmoke;
    border-radius: 50%; /* Botão redondo */
    border: 0;
    padding: 1px;
    cursor: pointer;
    font-size: 30px; /* Fonte menor */
    transition: 0.5s;
}

.carrossel-botao22{
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 400px;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    background-color: #EA9C00;
    color: whitesmoke;
    border-radius: 50%; /* Botão redondo */
    border: 0;
    padding: 1px;
    cursor: pointer;
    font-size: 30px; /* Fonte menor */
    transition: 0.5s;
}

.carrossel-botao11:hover, .carrossel-botao22:hover {
    background-color: #b97b00;
    color: #d9d9d9;
    transition: 0.5s; /* Transição suavizada */
}

.carrossel-botao11.anterior2EventSoli {
    left: 20px;
}

.carrossel-botao22.proximo2EventSoli {
    left: 96%;
}