:root {
    --cor1: #024959;
    --cor2: #D9D9D9;
    --cor3: #ffffff;
    --cor4: #7B9AAB;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

.Navbar {
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: var(--cor1);
}

.logo {
    height: 70px;
    position: absolute;
    left: 30px;
}

.seta {
    height: 60px;
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 5px;
    color: var(--cor3);
}

@media (max-width: 768px) {
    .logo {
        height: 50px;
    }

    .seta {
        height: 50px;
        position: absolute;
    }

    .Navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        position: relative;

    }
}