/* <!--<<<<<<<[ tela final ]>>>>>>>--> */
.telaFinal{
    background-color: #024959;
    color: #d9d9d9;
    width: 100%;
    height: max-content; 
    display: block;
}
.espaçoCorFim{
    border: 1px solid #5C868F;
    width:  90%;
    height: 0%;
    margin: auto;
}
.textFinalUmDois{
    display: inline-flex;
}
.textFinal{
    margin-left: 6%;
}
.textFinalDois{
    height: 30%;
    margin-left: 35%;
}


.corbotão {
    text-align: center;
    color: #d9d9d9;
    background-color: #024959;
    border: 1px solid #024959;
    border-radius: 20%;
    width: max-content;
    height: max-content;
    position: relative; /* Necessário para o pseudo-elemento ::after */
    display: inline-block; /* Garante que o tamanho do sublinhado seja baseado no conteúdo */
}

.corbotão::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajuste a distância do sublinhado em relação ao texto */
    width: 100%; /* Largura do sublinhado */
    height: 2px; /* Espessura do sublinhado */
    background-color: #7B9AAB; /* Cor do sublinhado */
    transform: scaleX(0); /* Inicia com escala 0 para ocultar */
    transform-origin: left; /* Define a origem da transformação como à esquerda */
    transition: transform 0.5s ease; /* Transição suave */
}

.corbotão:hover::after {
    transform: scaleX(1.05); /* Expande a escala no hover */
}





.imgFim{
    width: max-content;
    height: 0%;
}
.final{
    margin-left: 4%;
    display: inline-flex;
}
.corTextFinal{
    color: #d9d9d9;
}