:root {
  --cor-1: #024959;
  --cor-2: #5C868F;
  --cor-3: #7B9AAB;
  --cor-4: #D9D9D9;
}

body {
  overflow-x: hidden;
}

.img-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  margin-left: -30px;
  height: 33rem;
  object-fit: cover;
  filter: blur(20px);
  z-index: -1;
}

.img-frente {
  width: 60rem;
  height: 30rem;
  border-radius: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.title-show {
  color: #024959;
  opacity: 79%;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.link-show {
  text-decoration: none;
  color: #0076d7;
}

.coment {
  padding: 10px;
}

.p-show {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.card-desc {
  display: inline-block;
  width: 100%; /* Ocupa 100% da largura de card-show */
  height: auto; /* Ajusta automaticamente à altura do conteúdo */
  box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho */
  overflow: hidden; /* Garante que o conteúdo extra não saia da área */
}

.card-show {
  display: inline-block;
  margin-top: 5%;
  background-color: #f2f2f2;
  color: #000000;
  opacity: 73%;
  border-radius: 20px;
  height: 100%;
  width: 40%;
  padding: 5vh;
  margin-left: 5%;
  font-size: 20px;
}

.card-show2 {
  margin-top: 5%;
  margin-right: 6%;
  float: right;
  background-color: #f2f2f2;
  border-radius: 20px;
  color: #000000;
  opacity: 73%;
  height: 100%;
  width: 25%;
  padding: 10px;
  padding-bottom: 25px;
  margin-left: 5%;
  font-size: 20px;
}

.card-show3 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  background-color: #f2f2f2;
  border-radius: 20px;
  color: #000000;
  opacity: 73%;
  height: 100%;
  width: 40%;
  padding: 15px;
  font-size: 20px;
}

.compra {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 3rem;
  border: none;
  border-radius: 10px;
  background-color: #024959;
  color: #ffffff;
  transition: all 0.5s;
  -webkit-transition: all 0.3s;
  max-width: 30em;
}

.compra:hover {
  color: #024959;
  background-color: #d9d9d9;
  box-shadow: 0 0 15px var(--cor1);
  transform: scale(1.1);
}

.compra:active {
  background-color: var(--cor1);
  color: var(--cor4);
  transition: all 0.25s;
  -webkit-transition: all 0.3s;
  box-shadow: none;
  transform: scale(0.98);
}

.titulo {
  color: #024959;
  font-size: 5vh;
  opacity: 78%;
  display: flex;
  justify-content: center;
}

.itens-data {
  text-align: center;
}

/* ------- avaliação do show ------- */
.rating-container {
  text-align: center;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.star {
  font-size: 50px;
  color: #d3d3d3; /* Cor padrão */
  cursor: pointer;
  transition: color 0.3s ease;
}

.star.active {
  color: #ffc107; /* Cor ativa */
}

.rating-text {
  font-size: 18px;
  color: #333;
}

/* --------------------------------- */

.avaliar {
  font-size: 30px;
}

.Aceitar{

  width: 150px;
    padding: 10px;
    font-size: 14px;
    border: 0;
    border-radius: 7px;
  
    cursor: pointer;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    background-color: var(--cor-1);
    margin-left: 12px;
    margin-top: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.Negar{

  
    width: 115px;
    padding: 8px;
    font-size: 14px;
  
    border: solid 2px var(--cor-1);
    border-radius: 7px;
    cursor: pointer;
    color: var(--cor-1);
    font-family: "Poppins", sans-serif;
    background-color: var(--cor-4);
    margin-left: 10px;
    margin-top: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  

}