.img-fundo {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  filter: blur(10px) brightness(0.7);
  z-index: -1;
}

/* Estilos da Navbar */
.nav-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
}

.content {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  text-align: center;
}

.content h1 {
  color: white;
  font-size: 36px;
  margin-top: 50px;
}

.content p {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.img-frente{
  display: flex;

}

.img-container{
  text-align: center;
}