.tudoLogin {
    display: inline-flex;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "Poppins", sans-serif;
  }
  
  /* tudo */
  
  .parteAzulLog {
    width: 100%;
    height: 100%;
    background-color: #024959;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ImgVoltar{
    width: 60px;
  }
  .imagemscadastrarLog {
    width: 50%;
    height: 50%;
  }
  .imagemscadastrarLog2 {
    width:  60%;
    height: 50%;
  }
  
  /* tela branca funcional*/
  .parteBrancaLog {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 1%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cadastrarLog{
    height: 25%;
    margin-top: -1%;
    margin-right: 51%;
    color: darkgrey;
  }.cadastrarLog2{
    height: 25%;
    margin-top: -1%;
    margin-right: 60%;
    color: darkgrey;
  }.Cadastre-seLog {
    font-weight: 100;
    margin-left: -2%;
    color: #024959;
    margin-bottom: -3%;
  }
  
  .partesInputsUmDoisLog {
    display: inline-flex;
    color: black;
    width: 50%;
    height: 50%;
    margin-top: -30%;
    margin-left: 9%;
    margin-bottom: 10%;
  }.parteUmInpusLog {
    align-items: start;
    width: 90%;
    height: 90%;
  }.inputsLocalLog {
    align-items: start;
    width: fit-content;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  
  .tamanhoInputsLog {
    background-color: #FFFFFF;
    color: black;
    border: none;
    outline: 0;
    border-radius: 8px;
    width: 170%;
    height: 36px;
    text-align: start;
    padding-left: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .checkboxPCDLog{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    color: black;
    width: 70%;
    text-align: start;
  }
  
  .btLocalLog{
    margin-left: 5%;
    align-items: center;
  }
  .btCadastrarLog{
    margin-top: 5%;
    margin-left: 18%;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #024959;
    color: #FFFFFF;
    transform: scale(1.1); 
    transition: 1s;
  }
  .btCadastrarLog:hover{
    transform: scale(1.1); 
    transition: 1s;
    width: 55%;
    border:1px solid #024959;
    background-color: #d9d9d9;
    color: #024959;
  }
  
  .tudoInputsCheckBTLog{
    margin-top: 5%;
    margin-left: -4%;
    width: 70%;
    height: 70%;
  }
  
  .btVoltarIMGLog{
    position: absolute;
    margin-top: 2%;
    margin-left: -40%;
    width: 6%;
    height: 10%;
    border-radius: 45%;
    background-color: #024959;
    color: #FFFFFF;
  }
  .btSenhaLog{
    position: absolute;
    margin-top: -2.2%;
    margin-left: 24.5%;
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 10px;
  }