.tudoCadastro9 {
  overflow: hidden;
  display: inline-flex;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 0%;
  font-family: "Poppins", sans-serif;
}

.ImgVoltar9{
  height: 10vh;
}

/* tudo */

.parteAzul9 {
  width: 50%;
  height: 100%;
  background-color: #024959;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.imagemscadastrar {
  height:40vh;
}
.imagemscadastrar2 {
  width: 40vw;
}

.imgs-azul9{
  height: 20rem;
}

/* tela branca funcional*/
.parteBranca9 {
  padding: 30px;
  width: 50%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 1%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.cadastrarEmpre9 {
  height: 25%;
  margin-top: 0%;
  margin-right: 46%;
  color: darkgrey;
}
.cadastrar9 {
  height: 25%;
  margin-top: 0%;
  margin-right: 50%;
  color: darkgrey;
}
.Cadastre-se9 {
  font-weight: 100;
  margin-left: -2%;
  color: #024959;
  margin-bottom: -3%;
}

.partesInputsUmDois9 {
  display: inline-flex;
  align-items: center;
  color: #333;
  width: 90%;
  height: 70%;
  margin-top: -15%;
}

.parteUmInpus9 {
  align-items: start;
  width: 100%;
  height: 60%;
}

.parteDoisInpus9 {
  margin-top: 7.3%;
  margin-left: 10%;
  align-items: end;
  width: 100%;
  height: 60%;
}

.parteDoisInpusCad9 {
  margin-left: 10%;
  align-items: end;
  width: 100%;
  height: 60%;
}

.inputsLocal9 {
  align-items: start;
  margin-top: 5%;
}

.tamanhoInputs9 {
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: 0;
  border-radius: 8px;
  width: 110%;
  padding: 8px;
  text-align: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
}

.inpts-cadastro9 {
  text-align: center;
}

.InptDisabled9 {
  background-color: #99aab3;
  color: black;
  border: none;
  outline: 0;
  border-radius: 8px;
  width: 110%;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: start;
  padding-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 50%;
}

.imgTipo9 {
  margin-left: 1%;
  width: 7%;
  height: 7%;
}

.checkboxPCD9 {
  flex-direction: column;
  gap: 0px;
  margin-top: -8%;
  margin-bottom: 3%;
  margin-left: 5%;
  color: black;
  width: 40%;
  text-align: start;
  align-items: center;
}

.imgPCD9 {
  margin-left: 2%;
  width: 7%;
  height: 7%;
}

.inputsCheckbox9 {
  background-color: #ffff;
  color: #ffffff;
  border: 1px solid #ffffff;

}

.labelCheckbox1 {
  align-items: center;
}

.labelCheckbox {
  align-items: center;
}

.btCadastrarEmpresa9 {
  margin-top: 2%;
  width:45%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #024959;
  color: #ffffff;
  transform: scale(1);
  transition: 1s;
}

.btCadastrar9 {
  font-size: 15px;
  width: 20vw;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #024959;
  color: #ffffff;
  transform: scale(1);
  transition: 1s;
}
.btCadastrar9:hover,
.btCadastrarEmpresa9:hover {
  border: 1px solid #024959;
  transform: scale(1.1);
  transition: 1s;
  background-color: #d9d9d9;
  color: #024959;
}

.tudoInputsCheckBT9 {
  margin-bottom: 4%;
  margin-left: 3%;
  width: 95%;
  height: 100%;
}

.btVoltarIMG9 {
  position: absolute;
  margin-top: 2%;
  margin-left: -40%;
  width: 6%;
  height: 10%;
  border-radius: 45%;
  background-color: #024959;
}
.btSenha9 {
  position: absolute;
  margin-top: -29px;
  margin-left: 19%;
  border: none;
  border-radius: 10px;
}

.olhoSenha9 {
  width: 20px;
}

.LabelInpt9 {
  font-family: "Poppins", sans-serif;
}

.avisoLabel9 {
  font-size: 10px; /* Tamanho pequeno para mensagens */
  color: red; /* Destaque em vermelho */
  margin-top: 4px; /* Espaçamento do input acima */
  position: relative; /* Para evitar problemas com contêiner pai */
  display: block; /* Garante que a mensagem fique abaixo do campo */
}

.OpDef9 {
  box-shadow: 0 6px 12px rgba(0.1, 0.1, 0.1, 0.2);
  border-radius: 10px;
}

.OpDefMae9 {
  position: absolute; 
  width: 305px; 
  margin-top: 4px; 
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10; 
  list-style: none; 
  padding: 0; 
}

.OpDef9 {
  padding: 6px 10px;
  cursor: pointer;
  font-size: 13px; 
  color: #333;
  transition: background-color 0.2s ease;
}

.OpDef9:hover,
.OpDef9:focus {
  background-color: #f0f0f0;
  color: #000; 
  outline: none; 
}

.checkbox-cadastro{
  text-align: center;
}